<!DOCTYPE html>
<html lang="pt-BR">
  <body>

    <!-- Cabeçalho da página -->
    

    <!-- Corpo da página -->
    <main class="container">
      <h2 class="mb-4">
        Bem-vindo(a), <strong>[nome do Administrador]</strong>
      </h2>
      <div class="row">
        <div class="card-deck" style="width: 100%">
          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 01]</strong>
              </p>
              <p class="card-text h6">
                120 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 27.788,98</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 217.788,98</strong></p>


              <a href="atendimentos.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 02]</strong>
              </p>
              <p class="card-text h6">
                172 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 7.788,98</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 417.788,98</strong></p>


              <a href="atendimentos.html" class="stretched-link h-0"></a>
            </div>
          </div>
          
          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 03]</strong>
              </p>
              <p class="card-text h6">
                403 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 450.568,65</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 177.568,07</strong></p>


              <a href="atendimentos.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 04]</strong>
              </p>
              <p class="card-text h6">
                14 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 7.278,98</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 2.288,80</strong></p>


              <a href="atendimentos.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 05]</strong>
              </p>
              <p class="card-text h6">
                3 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 7.827.988,54</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 4.217.988,63</strong></p>


              <a href="atendimentos.html" class="stretched-link h-0"></a>
            </div>
          </div>
          
          
          
          
        </div>
      </div>
    </main>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
