<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Depósito</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-8 offset-md-2">
                                <h5 class="text-center">Valor Atual:</h5>
                                <p class="text-center text-success h4">R$ 20,50</p>
                            </div>
                        </div>
                        <form method="POST">
                            <div class="form-group">
                                <label for="deposito" class="h5">Informe o valor do depósito:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$</span>
                                    </div>
                                    <input id="deposito" type="number" class="form-control border-success" required>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="deposito" type="submit" class="btn btn-success btn-lg">Depositar</button>
                                <a href="/clientes/tela-inicial-cliente" class="btn btn-secondary btn-lg ml-2" [routerLink]="['/cliente/home']">Voltar à Tela Inicial</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
