
<div class="container mt-5">
    <h2 class="mb-4">Gerente - Cadastros Pendentes</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Salário</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>José Maria</td>
                    <td>111.111.111-11</td>
                    <td>10.008,37</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="abrirModal('Aprovar')">Aprovar</button>
                        <button class="btn btn-danger btn-sm" type="button" (click)="abrirModal('Recusar')">Recusar</button>
                    </td>
                </tr>
                <tr>
                    <td>José Silva</td>
                    <td>555.666.777-88</td>
                    <td>5.118,00</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="abrirModal('Aprovar')">Aprovar</button>
                        <button class="btn btn-danger btn-sm" type="button">Recusar</button>
                    </td>
                </tr>
                <tr>
                    <td>Abner Martins</td>
                    <td>999.000.111-22</td>
                    <td>16.338,00</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="abrirModal('Aprovar')">Aprovar</button>
                        <button class="btn btn-danger btn-sm" type="button">Recusar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btn-sm mt-3" [routerLink]="['/gerente/consultar-cliente']">Consultar Cliente</a>
    <a class="btn btn-primary btn-sm mt-3" [routerLink]="['/gerente/consultar-todos']">Consultar Todos</a>
    <a class="btn btn-primary btn-sm mt-3">Consultar Melhores</a>
</div>

