
<div class="container mt-5">
    <h2 class="mb-4">Gerente - Cadastros Pendentes</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Salário</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.salario}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="abrirModal('Aprovar')">Aprovar</button>
                        <button class="btn btn-danger btn-sm" type="button" (click)="abrirModal('Recusar')">Recusar</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btn-sm mt-3" [routerLink]="['/gerente/consultar-cliente']">Consultar Cliente</a>
    <a class="btn btn-primary btn-sm mt-3" [routerLink]="['/gerente/consultar-todos']">Consultar Todos</a>
    <a class="btn btn-primary btn-sm mt-3" [routerLink]="['/gerente/consultar-tres-melhores']">Consultar Melhores</a>
</div>

