<div class="container-fluid pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
      <h1 class="display-4 m-0">Consultar cliente</h1>
    </div>

    <div class="row  justify-content-center">
        <div class="col-3"></div>
        <div class="col-8">
            <input type="text" class="col-3 m-2" placeholder="CPF">
            <button class="col-2 m-2 btn btn-primary" (click)="abrirModalCliente({id: 1, cpf: '123.456.789-12', nome: 'Tiago', cidade: 'Curitiba', estado: 'PR', gerente: 'Fulano', limite: 1000, salario: 1000, saldo: 2500})">
                Pesquisar por CPF</button>
                <!-- <a  title="Pesquisar cliente" alt="Visualizar" class="btn btn-primary btn-sm mb-1"
                            (click)="abrirModalCliente()"></a> -->
            <button class="col-2 m-2 btn btn-primary">Limpar pesquisa</button>
        </div>
    </div>
</div>
