<div class="container-fluid pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
      <h1 class="display-4 m-0">Consultar todos os clientes</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-5">
            <form onsubmit="event.preventDefault()">
                <div class="form-group">
                    <div class="col-4">
                    <input
                        #search
                        type="text"
                        class="form-control p-4"
                        placeholder="CPF (12345678912)"
                        numerico
                    />
                    </div>
                    <div class="col-4">
                    <button
                        class="btn btn-primary py-2 px-5"
                        type="button"
                    >
                        Pesquisar por CPF
                    </button>
                    <button
                        class="col-4 btn btn-primary py-2 ml-2"
                        type="button"
                    >
                        Limpar Pesquisa
                    </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8 mb-5">
            <form onsubmit="event.preventDefault()">
                <div class="form-group">
                    <div class="col-4">
                    <input
                        #search
                        type="text"
                        class="form-control p-4"
                        placeholder="Nome (Alfredo)"
                    />
                    </div>
                    <div class="col-4">
                    <button
                        class="btn btn-primary py-2 px-5"
                        type="button"
                    >
                        Pesquisar por nome
                    </button>
                    <button
                        class="col-4 btn btn-primary py-2 ml-2"
                        type="button"
                    >
                        Limpar Pesquisa
                    </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-8 mb-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%">CPF</th>
                        <th style="width: 10%">Nome</th>
                        <th style="width: 10%">Cidade</th>
                        <th style="width: 10%">Estado</th>
                        <th style="width: 10%">Saldo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
