<div class="container-fluid pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
      <h1 class="display-4 m-0">Consultar todos os clientes</h1>
    </div>

    <div class="row  justify-content-center">
        <div class="col-8">
            <input type="text" class="col-3 m-2" placeholder="CPF">
            <button class="col-2 m-2 btn btn-primary">Pesquisar por CPF</button>
            <button class="col-2 m-2 btn btn-primary">Limpar pesquisa</button>

            <input type="text" class="col-6 m-2" placeholder="Nome">
            <button class="col-2 m-2 btn btn-primary">Pesquisar por nome</button>
            <button class="col-2 m-2 btn btn-primary">Limpar pesquisa</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 mb-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%">CPF</th>
                        <th style="width: 10%">Nome</th>
                        <th style="width: 10%">Cidade</th>
                        <th style="width: 10%">Estado</th>
                        <th style="width: 10%">Saldo</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ordenado em ordem crescente dos nomes -->
                    <tr>
                        <td>78945612378</td>
                        <td>Beltrano</td>
                        <td>Curitiba</td>
                        <td>PR</td>
                        <td>1500,00</td>
                        <td>
                            <a  title="Visualizar" alt="Visualizar" class="btn btn-primary btn-sm mb-1"
                            (click)="abrirModalCliente()"
                            > <!--[routerLink]="['/gerente/modal-cliente']"--> <!--Depois tentar implementar com routerlink-->
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <!-- Se precisar colocar mais botão, colocar mais tag a -->
                        </td>
                    </tr>
                    <tr>
                        <td>12345678912</td>
                        <td>Ciclano</td>
                        <td>Curitiba</td>
                        <td>PR</td>
                        <td>150,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
